SERVER_PORT=3000
WEBSITE_URL=

JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRES_IN=

SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_POOL=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=contact@azizjaber.me

PASSWORD_PEPPER=

TURSO_DATABASE_URL=libsql://
TURSO_AUTH_TOKEN=